.App {
  text-align: center;
}

body {
  max-width: 940px;
  margin-left: 20px;
  margin-right: 20px;

}
.heading-top {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  width: 900px;
 
}


.delicious-box {
  display: flex;
  align-items: center;
}

.delicious-box img {
  height: 45px;
  width: 45px;

}


.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
#chocolate-pizza {
  
}
.print-div {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

}

.print-div  img {
  height: 12px;
  width: 10px;
}



header h6 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  line-height: 0em;
}

.chocolate-pizza h1 {
  display: block;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  max-width: 500px;
}

.chocolate-pizza h6 {
  font-family: 'Courier New', Courier, monospace;
  line-height: 0em;

}

.chocolate-pizza h2 {
  font-family: 'Times New Roman', Times, serif;
  
}
